header{
    border-style: solid;
    padding: 10%;
background-image:url(back1.jpg) ;
background-repeat: no-repeat;
background-size: cover;
}

h1{
    text-align: center;
    margin: auto;
    
}

button{
    display: none;
    
}

#prev{
    position: relative;
    left: 1%;
   
}

#next{
    position: relative;
left: 90%;
}